
		
.content{
	display: inline-block;
	height:auto;
	width: 100%;

}
	.content-top{
		display: inline-block;
		height: 10em;
		width: 100%;
	}
	.top-left{
		height: 100%;
	}

	#avt-user{
		height:100%;
		padding-top: 1em;

	}
	
	#info{
		height: 100%
	}

	.content-bot{
		display: inline-block;
		height: auto;
		width: 100%;
		background-color: #d9edf7
	}
	.top-right{
		height: 100%
	}
	.information{
		padding-top: 1em
	}
	.fa-upload{
		padding-top: 1em
	}
.no-padding{padding-left: 0px}


.document{
	padding-top: 2em
}
#icon-document{

	padding-top: 2em;
	padding-left: 2em
}
#close{padding-bottom: 4em}


.footer{
	height: auto;
	/*background: #000000;*/
}
.border{
	border: solid green;
}
.border-web{
	border:solid #BDBDBD;
}
.border-blue{
	border:solid blue;
}

.btn-group{
	padding-top: 1%;
}
.padding5{padding: 5px 5px 5px 5px}
.file-doc{
	height: 8em;
	margin-top: 1em;
	margin-bottom: 1em
}

#fileupload{ position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;align-content: center;}


/*.btn{
	width: 100%;
	display: table;
  	margin: auto;
  	background: #0288D1;

}*/