.container{
	font-size: 16px;
	height: auto;
	/*background: #dddddd;*/
}
.head{
	height: auto;
	/*background: #999999;*/
}
.content{
	display: inline-block;
	height:auto;
	width: 100%
	/*background: #888888;*/
}
	.contentTop{
		height: 7em;
	}
	.topLeft{
		height: 7em;

	}
		.avatar{
			height: 100%;
		}
		.info{
			height: 100%;
			
		}
	.topRight{
		height: 7em;
		float: right;
	}
.footer{
	height: auto;
}
.padding5{
	padding: 5px 5px 5px 5px;
}
.padding20{
	padding: 20px;
}
.height4em{
	height: 4em;
}
.green{
	border: solid green;
}
.red{
	border: solid red;
}
.full-parent{
	height: 100%;
	width: 100%;
}
#logo{
	height: 2em;
}
.nonPadding{
	padding-left: 0px;
}
.aotoHeight{
	height: auto;
}
.margin5{
	margin: 5px 5px 5px 5px ;
}